body {
  font-family: 'Roboto', sans-serif;
}

.calculator {
  border: 1px solid #999999;
  border-radius: 6px;
  box-shadow: 0px 15px 20px 5px rgba(136, 136, 136, 0.5);
  height: 318px;
  width: 231px;
}

.calculator-screen {
  background-color: #a0a0a0;
  border-bottom: 2px solid #999999;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #FFF;
  font-size: 50px;
  font-weight: 100;
  height: 77px;
  line-height: 100px;
  text-align: right;
}

.calculator-row {
  border-bottom: 1px solid #999999;
  display: flex;
  justify-content: space-between;
}

.calculator-button {
  background-color: #e0e0e0;
  border-bottom: none;
  border-left: 1px solid #999999;
  border-right: none;
  border-top: none;
  font-size: 22px;
  font-weight: 300;
  height: 47px;
  line-height: 45px;
  outline: none;
  text-align: center;
  transition: background-color 100ms;
  width: 58px;
}

.calculator-button:active,
.calculator-button:hover {
  background-color: #a6a6a6;
}

.calculator-zero {
  border-bottom-left-radius: 6px;
  padding-right: 60px;
  width: 116px;
}

.calculator-equals {
  border-bottom-right-radius: 6px;
}

.calculator-row-last {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.calculator-AC,
.calculator-positive-negative,
.calculator-percentage {
  background-color: #d6d6d6;
  font-size: 18px;
}

.calculator-divide,
.calculator-multiply,
.calculator-subtract,
.calculator-add,
.calculator-equals {
  background-color: #f5923f;
  border-right: none;
  color: white;
  font-size: 28px;
  font-weight: 100;
}

.calculator-divide:active,
.calculator-multiply:active,
.calculator-subtract:active,
.calculator-add:active,
.calculator-equals:active
.calculator-equals:hover,
.calculator-divide:hover,
.calculator-multiply:hover,
.calculator-subtract:hover,
.calculator-add:hover,
.calculator-equals:hover {
  background-color: #da680b;
}
