body {
  font-family: 'Roboto', sans-serif;
}

.calculator {
  border: 1px solid #999999;
  height: 318px;
  margin: 200px 0px 0px 500px;
  width: 231px;
}

.calculator-answer-screen {
  background-color: #a0a0a0;
  border-bottom: 2px solid #999999;
  color: #FFF;
  font-size: 50px;
  height: 77px;
  line-height: 100px;
  text-align: right;
}

.calculator-row {
  border-bottom: 1px solid #999999;
  display: flex;
  justify-content: space-between;
}

.calculator-cell {
  background-color: #e0e0e0;
  border-right: 1px solid #999999;
  font-size: 22px;
  height: 47px;
  line-height: 45px;
  text-align: center;
  width: 60px;
}

.calculator-zero {
  width: 122px;
}

.calculator-AC, .calculator-positive-negative, .calculator-percentage {
  background-color: #d6d6d6;
}

.calculator-divide, .calculator-multiply, .calculator-subtract, .calculator-add, .calculator-equals {
  background-color: #f5923f;
  color: white;
}
